.header__img {
  width: 100%;
  height: 700px;
}
a {
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  outline: none;
}
.header {
  color: white;
}
.header__top {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
.header__logo {
  display: flex;
  margin-left: 50px;
  gap: 20px;
  margin-right: 70px;
  align-items: center;
}
.header__logo-p {
  align-items: center;
  padding-left: 10px;
  color: white;
  font-weight: 700;
}
.header__top-span {
  color: inherit;
  display: flex;
  gap: 50px;
  margin-right: 70px;
}
